
<div class="back">

<div class="container1">
    <div class="message">
      <img src="../../assets/images/user.png" alt="User Icon">
      <div>
        <p>Welcome, <span style="font-weight: bold;">{{ userData.name }}</span>!</p>
      </div>
    </div>
    <p style="font-weight: bold; font-size: 14px; margin-top: 10px;"><b>Let's travel with us.</b></p>
    <button (click)="logout()">logout</button>
  </div>

<!--<div
class="users_table" 
*ngFor="let user of users"
>
<p>{{ user.email }}</p>
<p> {{  user.name }} </p>
<p>  {{  user.password }}</p>
<p> {{ user.user_role }}</p>
</div>
-->



  <!--OVDE CES DA NAPRAVIS TABELU SA ARANZMANIMA KOJI SU REZERVISANI-->
  <div class="container">
    <table>
        <thead>
            <tr>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>PASSWORD</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
            <td><span>{{ user.name }}</span></td>
            <td><span>{{ user.email }}</span></td>
            <td><span>{{ user.password }}</span></td>
            <td><span ><button routerLink="/users/{{ user.id }}/edit">izmeni</button></span></td>
            <td><span><button (click)="deleteUser(user)">izbrisi</button></span></td>

            </tr>
        </tbody>
    </table>
  </div>

  </div>